
@import "tailwindcss";

@theme {
  --color-primary-green: #1D3D33;
  --color-accent-emerald: #10B981;
}

@layer base {
  body {
    @apply bg-[#F9FBFA] text-[#1D3D33] antialiased;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #1D3D33;
  border-radius: 10px;
}